.hg
.idea
.DS_Store
.vs
cmake-build-debug
cmake-build-release
**/Debug/**
**/Release/**
**/*_autogen/**
*.vcxproj*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.sln
AutoXMPython.cc
AutoSysinit.py
sysinit_pyf.h